<%# Pour chaque item %>
<% @items.each do |i| %>
    <%# Afficher le nom %>
    <h2><%= i.name %></h2>
    
    <%# Pour chaque question %>
    <% i.questions.each do |q| %>
        <%# Afficher l'intitulé de la question %>
        <h4><%= q.text %></h4>
       
       <%# Pour chaque réponse %>
        <% q.answers.each do |a| %>
            <p><%= a.text %></p>
        <% end %>

    <% end %>

    <br>
<% end %>