<style>
h1 {
    padding: 80px;
    font-size: 2em;
}

.chart-container {
  margin:auto;
}
</style>

<h1>Votre résultat</h1>

<div class="chart-container">
    <%= radar_chart          @data, @option %>
</div>